# Gradle
.gradle/
build/

# Minecraft Loom runtime directory
run/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/

# Eclipse
.classpath
.project
.settings/
bin/

# OS / Temp files
*.log
.DS_Store
Thumbs.db

# Local dump & scratch files
dump_keybinding.bat
*.javap
